mat-grid-list{
    border-radius: 4px 4px 0px 0px;
    background-color: rgba(132, 70, 37, 0.8);
    //border: 2px solid rgba(132, 70, 37, 0.8);
    margin-top: 20px;
    padding-top: 1%;
    mat-card{
        height: 80%;
        width: 80%;
        background-color: #ddc391;
        mat-grid-list{
            background-color: #ddc391;
            border: none;
            .title-desktop{
                font-family: 'brannboll';
                font-size: 2em;
            }
            .title-mobile{
                font-family: 'brannboll';
                font-size: 2em;
            }

            .content-desktop{
                font-family: 'caladea';
                font-size: 1em;
            }
            .content-mobile{
                font-family: 'caladea';
                font-size: 1.3em;
            }
        }

    }
}