<!-- <mat-card>
    <mat-tab-group>
        <mat-tab label="Logowanie">
            <img class="logoMenu" src="assets/logoByfyj.png" />
            <p mat-line><i class="material-icons md-48">local_dining</i></p>
            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>
            <button mat-button>Smacznego!</button>
        </mat-tab>
        <mat-tab label="Rejstracja">
            <mat-tab-group>
                <mat-tab label="Klient">
                    <p>Dane logogwania</p>
                    <mat-form-field>
                        <input matInput placeholder="Imie">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Nazwisko">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" [formControl]="email" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <br>
                    <p>Adres </p>
                    <mat-form-field>
                        <input matInput placeholder="Misto">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Kod pocztowy">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Ulica">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Numer mieszkania">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Telefon">
                    </mat-form-field>
                </mat-tab>
                <mat-tab label="Firma">Firma</mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>


</mat-card> -->