img{
    width: 100%;
}

.header{
    font-family: 'brannboll';
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.info{
    font-family: 'caladea';
    font-size: 1.3em;
}