<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav   
  [ngClass]="(isPhone | async) ? 'nav-mobile' : 'nav-desktop' "
  fixedInViewport="true"
  [attr.role]="(isPhone | async) ? 'dialog' : 'navigation'"
  [mode]="(isPhone| async) ? 'over' : 'side'"
  [opened]="!(isPhone | async)">
    <mat-nav-list [disableRipple]="isPhone">
      <img class="logoMenu" src="assets/logoByfyj.png" />
      <a class="navitem" mat-list-item routerLink="/home" >Byfyj</a>
      <a class="navitem" routerLink="/menu" mat-list-item >Menu</a>
      <a class="navitem" mat-list-item  routerLink="/kontakt" >Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <mat-toolbar role="heading" class="mat-elevation-z6 app-toolbar" *ngIf="(isPhone| async)">
        <span> 
          Byfyj Babci Gosi
        </span>  
      <button mat-button
        aria-label="Toggle sidenav"
        mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon md-36">menu</mat-icon>
        </button>
    </mat-toolbar> 
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    
    <footer [ngClass]="(isPhone | async) ? 'foter-mobile' : 'footer-desktop' ">
        <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>




