/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: brannboll;
    src: url(./assets/Fonts/brannboll/BrannbollFS_PERSONAL.ttf) format("opentype");
  }

  @font-face {
    font-family: caladea;
    src: url(./assets/Fonts/caladea/caladea-italic.ttf) format("opentype");
  }